[2018-04-17 17:42] gCurse opened #1 "CutInterface: On opening the Cutinterface even though a local cutlist is loaded the cuts listview is not updated/populated"
On opening the Cutinterface even though a local cutlist is loaded the cuts listview is not updated/populated

[2018-04-25 13:00] gCurse opened #9 "Cutinterface changes size when an item in cuts view is selected/deselected"
Doesn't happen if cutinterface_resolution_x/y ratio is 16:9

[2018-04-25 14:37] gCurse opened #10 "CutInterface doesn't work in some installations (related to missing video acceleration?)"
When opening the Cutinterface in virtualbox the video is displayed in a separate "OpenGL-renderer" window aside of the Cutinterface. Navigation buttons do work.

This can be fixed by adding the following code after line ~220: `self.playbin = Gst.ElementFactory.make('playbin', None)`
[code]
Cutinterface of otrv++ works in virtualbox.

[2018-04-25 15:17] #9 closed

[2018-04-25 17:50] dietmarw opened #12 "Cutinterface still shows video in separate window"
I saw that in [ISSUES](../blob/master/ISSUES) this is mentioned. I just tested it in Ubuntu Mate 18.04 and that is still the case.

[2018-04-25 19:52] gCurse commented on #10
Thanks for the quick close and reply. I changed the issue title to fit your report.
@EinApfelBaum can you share some insights on this? (works for me)

[2018-04-25 21:28] dietmarw commented on #10
[code]
glxinfo:
https://gist.github.com/dietmarw/c4fa8e8d9f10ed67f752652963af0124

[2018-04-26 05:33] EinApfelBaum commented on #10
I remember this kind of behaviour in some testing situation, this was last year.
I will think about it.

I also have problems with the cutinterface, that could have the same cause.

My problem is that the CutInterface is not showing the video.
Audio and navigation is working.
https://gist.github.com/EinApfelBaum/5c27c48f31625f9e94450cf4c85419e1

Until now I could not figure out the problem.
My las

[2018-04-26 09:56] gCurse commented on #10
@dietmarw I pushed a new branch containing a workaround for this issue: 04-26_workaround-no-xv
It adds the cli option -n or --noxv. Please test this new branch and report back. Thanks.
[code]
You are now on the new branch. Start otr-verwaltung like so:
`bin/otrverwaltung --noxv`

@EinApfelBaum Whenever faced an empty video window it was caused by a missing dependency.
Did you try to run installscr

[2018-04-26 11:18] dietmarw commented on #10
@gCurse the no-xv switch did not open the extra video window but the frame only displays a frozen version of the desktop at the place where the cut assistant window was opened.

[2018-04-26 13:53] gCurse commented on #10
@dietmarw Please run installscripts/otrv3p-install-deb.sh again to make sure all known dependencies are installed.
I attached a python video player. Would you please test it?
Start the program, paste full path to an otr-video into the entry field at the top and press play.
If this plays the video we can use it as a reference.
BTW this is my modified version of https://github.com/gkralik/python-gst

[2018-04-26 15:08] gCurse commented on #10
Last one. Terminal output of
`GST_DEBUG=2 ~/otr-verwaltung3p/bin/otrverwaltung --noxv`
until the cutinterfacedialog shows up and then one play ... pause, please. Thanks.

[2018-04-26 16:02] dietmarw commented on #10
https://gist.github.com/dietmarw/cbdd1be7fbc99f63a9899940998029ec

[2018-04-26 19:37] EinApfelBaum commented on #10
@gCurse no, I installed all packages manual.
I tried to run the script, but got some errors.
I am too tired rigth now and cant get focused and concentrade.
In this moment i am the failure. =D

[2018-04-27 11:27] gCurse commented on #10
I pushed a new branch: early_playbin which should at least handle the no xvideo issue
Please test this new branch and report back. Thanks.
[code]
@dietmarw @EinApfelBaum

[2018-04-27 12:04] dietmarw commented on #10
Almost now. It displays the video player inside the interface now. If the frame does not fit the movie than a transparent background is shown. I could live with that but if you like you could make that part non-transparent with the app window background.

![image](https://user-images.githubusercontent.com/9332/39361671-cd2e7406-4a23-11e8-8dda-4d74f183e120.png)

[2018-04-27 12:32] gCurse commented on #10
Good news!
Please have a look at your conf file and search for cutinterface_resolution_x and cutinterface_resolution_y.
Make sure the ratio of x and y is 16:9, something like 800x450.
I'll look into making the background solid black.

[2018-04-27 12:55] dietmarw commented on #10
That did it :-) So I'd say this is good to merge.

[2018-04-27 13:02] gCurse commented on #10
Before merging I'll make change to force 16:9 by ignoring cutinterface_resolution_y
And if you ever stumble upon a 4:3 video, please
`killall <your compositor>` ;)

[2018-04-27 15:51] #10 closed

[2018-04-27 16:08] gCurse opened #17 "Cutinterface: Widgets change size when selecting/unselecting cuts in listview"
Reintroducing an old bug.

[2018-04-27 16:09] dietmarw commented on #10
Thanks guys. This was really quick!

[2018-04-28 07:32] EinApfelBaum commented on #10
Soo, the install script was successful running through. ( I messed up my system with printer drivers, now its clear )
With the early playbin branch its look like this. Screen is black and audio is running.

Cutinterace resolution 800x450

![cutinterfaceblackscreen](https://user-images.githubusercontent.com/4492357/39393540-be8e9c48-4ac6-11e8-89ae-7006b728e912.png)

[2018-04-28 07:52] gCurse commented on #10
But [basic-tutorial-5-play-local-file.py.txt](https://github.com/EinApfelBaum/otr-verwaltung3p/files/1951463/basic-tutorial-5-play-local-file.py.txt) plays the file?
Well, I'm out of ideas for now. Sorry.
Maybe you should open an issue for this?

[2018-04-28 07:58] EinApfelBaum commented on #10
Yea this is working, I will open a new issue for that, becaus that one is finsihed.
Yea I am out of ideas too, last year I also tried everthing and I dont know why it is not working.

Thanks.

[2018-04-28 08:05] #17 closed

[2018-04-28 08:09] gCurse opened #18 "Cutinterface: Widgets don't scale when window is resized."
We have to refactor the glade file.

[2018-05-06 10:41] #1 closed

[2018-05-08 19:49] gCurse opened #31 "Hide cuts (Geschnittene Szenen ausblenden) doesn't work"
Potential Solution:

1. Port the gstreamer pipeline from OTR-Verwaltung++ 1:1 or
2. Use GES ([Gstreamer Editing Services](https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gstreamer-editing-services/html/ch01.html), [GES 1.0 python docs](https://lazka.github.io/pgi-docs/#GES-1.0))

[2018-05-09 05:10] gCurse opened #32 "ConclusionDialog: When navigating forward/backwards an edited filename is not stored"

[2018-05-11 19:25] gCurse commented on #18
I work on this in the branch [cutinterface_new](https://github.com/EinApfelBaum/otr-verwaltung3p/tree/cutinterface_new).

[2018-05-17 08:16] gCurse opened #36 "Keyframe forward/backward jump is unstable when clicking too fast"
Possible solution: Restrict click rate :)

~[Gst.Event.new_step](https://lazka.github.io/pgi-docs/#Gst-1.0/classes/Event.html#Gst.Event.new_step)~
~[Gst.Event.new_seek](https://lazka.github.io/pgi-docs/#Gst-1.0/classes/Event.html#Gst.Event.new_seek)~

[2018-05-17 08:17] gCurse opened #37 "Metadata from avi video file is not transfered to the resulting mkv video file."

[2018-05-22 10:41] gCurse opened #40 "Keyframe forward/backward jump doesn't work for at least recordings of US TV stations"
**Update 2018-05-30:**
`ffmsindex -c -k <filename>` creates a
*keyframe* index (.ffindex_track00.kf.txt) and a
*timestamp* index (.ffindex_track00.tc.txt)
`try:`
Read timestamp index, make it a dictionary: `{frame_number:time_in_nanoseconds, ...}`
and use this dict to navigate/jump around.
cut.py(318): def get_timecodes_from_file(self, filename)

**Update 2018-05-29:**
US recordings:
SD:  29.970 (

[2018-05-28 20:11] gCurse opened #44 "Cutinterface (related): cut.py: get_keyframes_from_file: ffmsindex-ing progress..."
should be visible in MainWindow  (like decoding is, progress bar), because it sometimes takes a while.

[2018-06-08 10:52] #36 closed

[2018-06-10 17:00] #18 closed

[2018-06-19 16:47] gCurse commented on #32
The bug is back! Reintroduced while fixing something else. D'oh!

[2018-06-19 17:07] gCurse opened #48 "Feature request: Add options for renaming"
[Requested in otrforum.com](https://www.otrforum.com/showthread.php?74447-OTRVerwaltung3Plus-eine-Portierung-von-OTRVerwaltung-hinzu-Python3-und-Gtk3&p=404620&viewfull=1#post404620)

Vielleicht wäre es auch sinnvoll, in den Einstellungen unter Umbennenen mehrere Optionen anzubieten:

- Manuell umbenennen (Original Dateiname als Vorlage) = original filename
- Vorgeschlagener Dateiname (falls in cut

[2018-06-20 18:18] #32 closed

[2018-06-20 18:18] #44 closed

[2018-06-24 20:40] EinApfelBaum opened #50 "CutInterface GTK Version 3.20"
When i want to open the CutIntferace i got the following error:

It looks like the new CutIntferace has gtk version 3.20. Linux MInt 18.3 runs with gtk 3.18

[2018-06-26 13:33] gCurse commented on #50
Please open `CutinterfaceDialog.glade` and `LoadCutDialog.glade` in glade and change the gtk version to 3.12 (Seems most if not all glade files are set to this version).
Please check if this solves the issue.

[2018-06-26 19:52] EinApfelBaum commented on #50
Thanks, I also need to remove the property "propagate_natural_width" in line 521 for the GtkScrolledWindow control.

[2018-06-26 19:52] #50 closed

[2018-06-27 10:42] gCurse opened #51 "Uploading multiple cutlists doesn't work."
Needs a one second delay between uploads.

[2018-06-27 11:51] gCurse commented on #40
Closing this for now. See https://github.com/EinApfelBaum/otr-verwaltung3p/pull/47/commits/2f77f3da060f20d44344a066fefcfdd1728e0a68 (otrverwaltung/actions/cut.py)

[2018-06-27 11:51] #40 closed

[2018-06-27 14:17] #51 closed

[2018-06-27 16:40] gCurse opened #54 "The LoadCutDialog should show which kind of file a cutlist was made for (HD, HQ etc.)"
[Requested in otrforum.com](http://www.otrforum.com/showthread.php?74447-OTRVerwaltung3Plus-eine-Portierung-von-OTRVerwaltung-hinzu-Python3-und-Gtk3&p=404683&viewfull=1#post404683)

[2018-06-28 10:02] gCurse opened #55 "The treeviews in LoadCutDialog should be sortable"

[2018-06-28 15:54] #54 closed

[2018-07-01 12:21] Steffen1989 opened #57 "Decoding hangs"
When I decode an otrkey file on my arch linux Laptop, otr-verwaltung3p hangs.

The progress bar reaches 100% for "Eingabedatei 1/1 kontrollieren".
Via "top", I see that intern-otrdecoder is in zombie state and the process python3 uses 100% of CPU.

Running in verbose mode only shows this warning:
(otrverwaltung:13824): IBUS-WARNING **: 14:13:25.488: Unable to connect to ibus: Could not connect: Co

[2018-07-01 15:01] gCurse commented on #57
I have no idea.
Can you shed some light on your edit?:
Does that mean the decoder works on the commandline but not when called from within otrv3p? Or did you replace intern-otrdecoder with manually installed and renamed decoder?

Does terminating ibus change anything?

Test: I installed and started ibus. otrv3p decodes files without error.

Would you mind trying otrtool (in AUR)? Install it and ch

[2018-07-01 17:06] Steffen1989 commented on #57
Regarding my edit, I have replaced the file intern-otrdecoder in tools folder with a link to another decoder. Unfortunately, I could find out which one of those from https://www.onlinetvrecorder.com/v2/?go=software&tab=Linux it is.

When using otrtool from AUR, decoding also works.

So for me problem is solved either using my manually installed decoder or otrtool. Thanks for the suggestion.

[2018-07-02 12:18] gCurse commented on #57
If you want to find out which decoder you initially downloaded you can re-download them one by on (most likely first), unpack, and then compare the decoder to the working one (`cmp <file1> <file2>` This will either exit cleanly if they are binary equal, or it will print out where the first difference occurs and exit.)

The intern-otrdecoder in the repo is this one: [Statisch gelinkt, 64 Bit](http:

[2018-07-02 18:20] Steffen1989 commented on #57
By using cmp, I found out that the decoder I had used initially, is the Easydecoder "Console version, 64bits".

[2018-07-02 19:02] EinApfelBaum opened #58 "Decode: error, when E-Mail and password is not set in config"
Install otr3p with the install script for ubuntu/linux mint.
At the first start I was asked, to set the location.
At the second start I was asked, to set E-Mail and Password.
When I click the decode button and I have not configured E-Mail and password i get this error:

Linux distro: Linux Mint 19

[2018-07-03 10:50] gCurse commented on #57
So, newest Easydecoder works for you and intern-otrdecoder does not.

I'll update the intern-easydecoder to the lastest version. Then you can select intern-easydecoder in preferences to be used for decoding.

[2018-07-03 11:03] gCurse commented on #58
I'll fix that in the next commit.

[2018-07-03 11:57] #58 closed

[2018-07-03 11:57] #57 closed

[2018-07-03 12:17] gCurse opened #60 "ConclusionDialog: File extension should be stripped from suggested_filename"
before copying rename_combobox content to suggested_filename.

before adding suggested_filename from cutlist to rename_combobox.

Check for these extensions: .mp4, .avi, .mkv

[2018-07-23 21:03] EinApfelBaum opened #68 "CutInterface with black Screen"
The CutInterface is not playing the video, drawingarea is black, but the audio is playing.

@gCurse can you pls run otr cutinterface in debugmode with the branch GstreamerDebug.
Maybe we can find the error im detail log.
For more information we can change the log level.

Here is my logfile:
Gstreamer debug log with log level Error:
![gstreamererrordebuglog](https://user-images.githubusercontent.co

[2018-07-25 14:22] gCurse commented on #68
@EinApfelBaum I installed Mint19 to an empty partition on my computer. After having problems to graphically log into cinnamon (only startx worked) I installed lxde (`sudo apt install lxde`).

__And... otrv3p works perfectly!__

It doesn't work when logging into cinnamon (in my case via `startx`) --> black video window (well, it's an empty video window, as can be seen when commenting the stuff in `

[2018-07-29 10:28] gCurse opened #70 "Cutinterface: Automatic conversion of MP4/AVI/HQ cutlist to HD and vice versa"
If no cutlists are found cutlists of all qualities are displayed in the LoadCutlist dialog.. The Startframe and DurationFrames values should automatically be converted if the fps value of the chosen cutlist differs from the videofile fps.

Maybe show a warning like "Converted cutlist in use".

[2018-07-29 12:07] #68 closed

[2018-07-30 09:51] gCurse opened #72 "Add missing signal handling of self.movie_window unrealize"
and add self.player.set_state(Gst.State.NULL). Without that at least the opened pulseaudio sinks are not closed when closing the cutinterface.

[2018-08-11 07:27] fermat2a opened #73 "trying to manual cut ends in [intern-ffmsinde] <defunct>"
Hi,

I updated yesterday to version 3.3.0-A (commit 76ba16471c5f9fc986e639b044fb2bfdac2f42c9, this is head of master up to now). Try to cut a movie manually the gui shows "Datei wird indiziert" with a progress bar stopping somewhere and nothing else happens (even waiting for 10 Minutes, I was getting a coffee when I tried first time). In the process list I see that otr-verwaltung3p spawned a proce

[2018-08-11 07:52] fermat2a commented on #73
The described behaviour seems to happen only when I try to cut _Griessnockerlaffaere_18.08.07_02-10_ard_90_TVOON_DE.mpg.HD.avi_. For another File _Wild_Target_Sein_schaerfstes_Ziel_18.08.09_00-20_ard_93_TVOON_DE.mpg.HD.avi_ it just goes back to the main screen and I it sows "Cutlist 1/1 wählen" at the lower right side, even if the dialog is no more there. Here I get the following output at the she

[2018-08-11 08:12] gCurse commented on #73
Seems `gtksink` is not available on your system. Seems your're using Ubuntu. Please install `gstreamer1.0-gtk3`.

[2018-08-19 17:53] #48 closed

[2018-08-19 17:53] #60 closed

[2018-08-19 17:53] #72 closed

[2018-08-20 19:46] mmo442 opened #75 "Missing lib.pymediainfo in v3.3.1-A"
The file otr-verwaltung3p/lib/pymediainfo.py is missing in version v3.3.1-A.

[code]

[2018-08-22 19:10] gCurse commented on #75
[0301f4b](https://github.com/EinApfelBaum/otr-verwaltung3p/commit/0301f4b94c3dc7ee6b0d182c2943d175210f1c67) should fix this.

[2018-08-22 19:10] #75 closed

[2018-11-02 16:32] anonvoy opened #77 "Installationsskript OpenSuse 15: Pfad führt ins Leere"
Unter dem angegebenen Link https://raw.githubusercontent.com/einapfelbaum/otr-verwaltung3p/master/installscripts/otrv3p-install-opensuse_WIP.sh ist nichts.

[2018-11-02 16:34] anonvoy opened #78 "Installationsskript Opensuse 15: Pfad zielt ins Leere"
Unter dem angegebenen Link `https://raw.githubusercontent.com/einapfelbaum/otr-verwaltung3p/master/installscripts/otrv3p-install-opensuse_WIP.sh` ist nichts.

[2018-11-02 16:40] #78 closed

[2018-11-02 18:54] timo08 commented on #77
https://github.com/EinApfelBaum/otr-verwaltung3p/raw/master/installscripts/otrv3p-install-opensuse_leap.sh

[2018-11-13 12:01] gCurse commented on #77
I updated the links in the wiki.

[2018-11-13 12:01] #77 closed

[2018-11-21 22:10] gruenkaeppchen opened #79 "Conf: TypeError: new() missing 1 required positional argument: 'mode'"
Starting otr-verwaltung3p for the second time gives the following problem:

Potential Solution:
add the AES.mode to the decryption_suite (otrverwaltung/config.py lines 89 and 126):
`encryption_suite = AES.new(base64.b64decode(self.__fields['general']['aes_key'].encode('utf-8')), AES.MODE_CBC)`
and
`decryption_suite = AES.new(base64.b64decode(json_config['general']['aes_key'].encode('utf-8')), AES.

[2018-11-22 08:36] gCurse commented on #79
@timo08 Can you take a look at this, please

[2018-11-22 09:40] timo08 commented on #79
I'm trying to find a solution, give me some time :)

[2018-11-22 10:48] gCurse commented on #79
@timo08 Can you have a look at this pure python AES implementation: [pyaes](https://github.com/ricmoo/pyaes) or something similar?
We could use it as an internal library (in the libs folder). That would be set and forget. And we'd get rid of one dependency.
I think I will make gitpython an internal library, too.

[2018-11-22 12:57] timo08 opened #80 "ImportError: /usr/lib/x86_64-linux-gnu/libboost_python27.so.1.67.0: undefined symbol: PyString_Type"
At start of otr-verwaltung3p i get the given error on my debian 10 (buster) system:

Traceback (most recent call last):
  File "./bin/otrverwaltung", line 110, in <module>
    from otrverwaltung.actions import actions
  File "/home/user/otr-verwaltung3p/otrverwaltung/actions/actions.py", line 21, in <module>
    from otrverwaltung.actions import download
  File "/home/user/otr-verwaltung3p/otrverw

[2018-11-23 11:48] #80 closed

[2018-11-23 11:51] gCurse commented on #80
Strange that python 2.7 is involved.

[2019-02-05 16:10] gCurse commented on #79
Fixed in db3466bbf02a68e4ed6499e8a420bd08b3c21088

[2019-02-05 16:10] #79 closed

[2019-02-05 16:18] gCurse opened #82 "Convert OTR files to mkv before further processing"
Notes:
- Original file size and name of avi should be saved for use in cutlist

[2019-03-02 10:38] gCurse opened #83 "AES stuff doesn't work with pycryprodome 3.7.3-1 on Artixlinux"
[code]
Solution:
Change otrverwaltung/config.py:88 from
[code]
to
[code]

[2019-03-03 15:10] #83 closed

[2019-04-25 12:10] gCurse opened #85 "Conclusion dialog: Edited filename is copied to suggested filename even if suggested filename is not empty"

[2019-11-05 18:54] tango25001 opened #87 "headless mode"
Is there a possibility to have otrkey files processed (decoded and cut if cutlist is available) without user interaction?

[2019-11-09 07:57] gCurse commented on #87
No. It is GUI only.
But "without too much user interaction" you can try the batch mode:
1. Click on "Nicht dekodiert" (do not mark any file)
2. From "Dekodieren und schneiden" choose "Beste Cutlist"
3. A dialog pops up asking if all files should be processed. Choose "Yes".
4. Good luck :)

[synOTR](https://synotr.geimist.eu/) seems to do exactly what you are looking for but it is made for synology

[2019-11-09 15:43] tango25001 commented on #87
Thanky you,

but unfortunately I am using a headless Raspi with Aria2 Downloadmanager, right now. I just want to start the filedownload in my browser and enjoy the decoded and cut file with the best rated cut list. Thats what I am looking for :-) thank you anyway

[2019-11-09 20:54] gCurse commented on #87
Maybe [RPi-OTR-Tool](https://www.otrforum.com/showthread.php?75486-RPi-OTR-Tool) fits your needs.

Closing this issue.

[2019-11-09 20:54] #87 closed, assigned to nobody

[2019-11-21 12:36] fermat2a opened #88 "Results screen not shown"
On Ubuntu 19.10 showing the result screen after decrypting and cutting videos is not shown. Instead I see following output:

[code]

The idon "folder" does not exist. I changed this to folder-symbolic and it worked again. Pull Request will follow...

[2019-11-21 23:19] gCurse commented on #88
The icon name "folder" is part of the Icon Theme Specification (freedesktop.org, also used by Gnome and KDE et al.).
Please make sure you are not using an icon theme that does not follow this standard.

As I am aware that there are incomplete/non-standard icon themes, it may be a good idea to find a way to circumvent such an exception. So if you want to contribute feel free to find a way.

This co

[2020-01-12 20:48] gCurse commented on #88
I now setup a VM with Ubuntu 19.10 (minimal installation) and then installed otrv3p. I then cut a video manually and a second time "best cutlist" an did not get any error.

If you have any further insight into your problem, please report. For now I close this issue and the PR.

[2020-01-12 20:48] #88 closed, assigned to nobody

[2020-01-14 17:55] gCurse opened #92 "[Announcement] Pull requests must be formatted with "Black" and checked with flake8!"
[Black formatter](https://github.com/psf/black)
[Black Version control integration](https://black.readthedocs.io/en/stable/version_control_integration.html)
[Automate Python workflow using pre-commits: black and flake8](https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/)

[2020-03-01 21:31] gCurse opened #99 "Files that are processed (cut) should be not accessible in (at least) Section.VIDEO_UNCUT"
~See my tags:  # gcurse:LOCK~
~To be continued ...~
This is done but not yet pushed to the repository.

[2020-03-02 08:46] radlwadl opened #100 "otrv3p-install-opensuse_leap.sh: Zeile 157: check_pack: Kommando nicht gefunden."
Hello,

two errors in otrv3p-install-opensuse_leap.sh:

1. My openSUSE runs with a german localization. So the "zypper repos" gives a "Ja" instead of a "Yes" for an installed package. I fixed that in line 157 with a shortly hacked regex. Please see line below

2.  Script threw the error "Zeile 157: check_pack: Kommando nicht gefunden."
This is caused by leading and trainling spaces at the "="
Old

[2020-03-03 13:16] gCurse commented on #100
Done. Thanks :)
I won't change the master branch, as the current versions of the scripts are hosted [here](https://github.com/gCurse/support/tree/master/otrv3p_installation_scripts).

Changed the file there.

[2020-03-03 13:16] #100 closed, assigned to gCurse

[2020-03-04 16:55] m23project opened #102 "solved: PyGTK/GTK is missing"
Hi,

I installed otr-verwaltung3p with otrv3p-install-deb.sh on a minimal Ubuntu 18.04 system and got the error message "PyGTK/GTK is missing".

After installing the package "gir1.2-gtk-3.0" it runs.

I would be nice, if you could add the installation of "gir1.2-gtk-3.0" in otrv3p-install-deb.sh.

Thanks for your work,
 Hauke

[2020-03-04 17:39] gCurse commented on #102
Thanks for your report. I will add "gir1.2-gtk-3.0" as a dependency.
* Can you please tell me which distribution (including the version) and desktop environment you are using?
* Did you know? We have packages now: [otr-verwaltung3p-dev_1.0.0-beta002ubuntu1804-py36.deb](https://github.com/EinApfelBaum/otr-verwaltung3p/releases/download/1.0.0-beta002/otr-verwaltung3p-dev_1.0.0-beta002ubuntu1804-py36

[2020-03-09 16:49] #102 closed, assigned to nobody

[2020-03-16 19:22] timsummerer opened #103 "'CutinterfaceDialog' object has no attribute 'movie_box'"
Hello,

I have been using otr-verwaltung3p for a while and today I encountered the following exception when trying to manually cut a video.
Since I cleaned up some packages yesterday, I might have removed a dependency accidentally BUT reinstalling otr-verwaltung3p from GitHub and the AUR result in the same exception.
The issue also occured before updating to the latest version and it (probably) al

[2020-03-17 10:11] gCurse commented on #103
Please install gst-plugin-gtk
They split this out from gst-plugins-good

I'll update the AUR packages. EDIT: Done

Thanks for your report.

[2020-03-17 12:32] timsummerer commented on #103
I just updated and installing the dependency fixed the issue. Thanks!

[2020-03-20 10:03] #103 closed, assigned to gCurse

[2020-06-12 16:23] m23project opened #104 "Schneiden bleibt stehen"
Hallo,

beim Versuch, einige Dateien (z.B. Brokenwood_Mord_in_Neuseeland_20.05.31_21-45_ard_90_TVOON_DE.mpg.HD.avi) nach dem Dekodieren zu schneiden, bleibt der Statusbalken in der Oberfläche stehen. Auf der Kommandozeile gibt es folgenden Stacktrace:

Traceback (most recent call last):
  File "/home/user/otr-verwaltung3p/otrverwaltung/gui/MainWindow.py", line 740, in _on_toolbutton_clicked
    se

[2020-06-14 09:33] gCurse commented on #104
Stelle sicher, dass Du die neueste Version verwendest [otr-verwaltung3p-dev-1.0.0b7.deb](https://github.com/EinApfelBaum/otr-verwaltung3p/releases/download/1.0.0b7/otr-verwaltung3p-dev-1.0.0b7.deb)

- otrv3p beenden
- Öffne `~/.config/otrverwaltung3p/conf` in einem Texteditor
- Suche nach `encoder_engine` und ändere in dieser Zeile `ffmpeg` zu `x264`
- Speichere die Datei
- Teste das Schneiden des

[2020-06-16 17:12] #104 closed, assigned to nobody

[2020-07-15 07:09] Master-2000 opened #105 "Can't cut HD Files"
When I try to cut a HD file I got following stack-trace:

[code]

Any idea? I installed it with https://aur.archlinux.org/packages/otr-verwaltung3p-dev/ on my arch linux system.

FFMPEG is installed:
[code]

[2020-07-15 07:32] gCurse commented on #105
Please uninstall *otr-verwaltung3p-dev* and then install it again. You are stuck on an old version (latest is 1.0.0b8) and this seems related to the change in the versioning "style" (I think *1.0.0-beta002* is considered a higher version than *1.0.0b8*).

Please note that you (may?) have to re-create your configuration file
(Terminate otr-verwaltung3p and delete the configuration file: `mv $HOME/.

[2020-07-15 07:42] Master-2000 commented on #105
Thank you very much, the re-installation helps. Because I always have the highest version with my arch system, I don't look for the version. :laughing:

Nice to see you answer so quickly.

[2020-07-15 07:44] Master-2000 commented on #105
Happy too early. Now I got:

But community/ffms2 2.23.1-4 is installed.

[2020-07-15 08:34] gCurse commented on #105
Cutting does not work with the native Archlinux version of x264 as the ffms-demuxer is missing.
Try changing *Preferences->Schneiden->Kodierer* to ffmpeg

[2020-07-15 08:47] Master-2000 commented on #105
I got the same error with ffmpeg, but in the moment I want to share you a screenshot, I see that the file-ending was mkv. With the previous version I tried to convert the avi to mkv before cutting - but this also not worked.

With the current version the mkv produces the error with x264 and with ffmpeg, but I bring back the original avi (with ac3) and tried it again. And yeah, it works (also with

[2020-07-15 11:13] gCurse commented on #105
Ah, now I remember:
When cutting a New-HD-format.mkv, x264 is forcibly used for smart-rendering as I cannot get it to work with ffmpeg. :(
When cutting a New-HD-format.avi, ffmpeg is forcibly used for smart-rendering as I cannot get it to work with x264. :(

Converting New-HD files to mkv before cutting is not supported.

[2020-07-15 11:13] #105 closed, assigned to nobody

[2020-10-01 22:42] major-mayer opened #106 "Einfach mal Danke sagen"
Ich weiß nicht wie ich es sonst übermittlen soll, aber ich wollte mich einfach nur für dieses großartige Programm bedanken.
Ich hatte vor meinem Umstieg auf Linux Bedenken ob ich dort Software für den OnlineTVRecorder finden werde.
Und was soll ich sagen: Alles funktioniert auf Anhieb und die Software bietet genau das was ich für meinen Workflow benötige in einem Programm vereint (dekodieren, schn

[2020-10-01 22:42] #106 closed, assigned to nobody

[2020-11-19 09:03] gCurse commented on #106
Vielen Dank für das Lob :)

[2020-11-25 21:08] The-Saint2k opened #107 "Installation unter Fedora"
Hallo,
ich nutze das Tool schon lange unter Ubuntu. Nun bin ich auf Fedora umgeschwugen. Leider weiß ich nicht wie ich es hier installieren kann. Könnte mir da jemand ein paar Tips geben.?

[2020-12-03 22:05] major-mayer opened #108 "OTR Verwaltung 3p crashes with UnicodeDecodeError when easydecoder reports errors"
Hi,
I noticed that when you try to decode a otrkey file that was downloaded from a time, when you didn't have premium status, it simply hangs.
In the UI there is no error message presented or whatsoever, which is quite confusing, because it took me a while to find out, that I didn't have Premium back then.
In console i found the following:
[code]

If the OnlineTvRecoder API returns a error if the

[2020-12-26 09:20] gCurse commented on #107
Die folgende Liste enthält die zu installierenden Abhängigkeiten (Ubuntu Paketnamen). Du müsstest die entsprechenden Fedora Pakete installieren (die sehr wahrscheinlich andere Namen haben).
OTRV selbst kannst Du dann wie folgt installieren:
`git clone --branch development --single-branch --shallow-since=2020-02-14 https://github.com/EinApfelBaum/otr-verwaltung3p.git`

Das kopiert OTRV in den Ordne

[2020-12-29 08:32] gCurse commented on #108
Sorry for the late reply.
OTRV tries to report errors but crashes because of a decoding exception.

Can you please post the output of
`/usr/share/otrverwaltung3p/tools/intern-easydecoder -e <your email-address here> -p <your password here> -i <path to otrkey-file which causes the crash>`
__Do not post the command itself! (private data)__

I *think* the following may work:
Close otr-verwaltung3p.
O

[2020-12-29 08:36] gCurse commented on #107
Upps, habe die Liste vergessen.

Die zu installierenden Abhängigkeiten (Ubuntu Paketnamen):
ffmpeg
ffmsindex
gir1.2-gstreamer-1.0
gir1.2-gtk-3.0
gstreamer1.0-gtk3
gstreamer1.0-libav
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-base
gstreamer1.0-plugins-base-apps
gstreamer1.0-plugins-good
gstreamer1.0-plugins-ugly
gstreamer1.0-tools
gstreamer1.0-x
mediainfo
mediainfo-gui
mkvtoolnix
mpv
python3-app

[2020-12-31 13:14] major-mayer commented on #108
Here you go, that's the output of the decoder software:
[code]

And indeed changing the line in decodeorcut.py seems to work :+1: :smiley:
The error is only visible when you click on the  "Geschnittene Dateien anzeigen" (show cutted files) button, i think that can be easily overlooked.
Maybe you could warn the user more visible. But thanks for the quick fix anyway.

[2021-01-04 17:33] anonvoy opened #109 "otr-verwaltung3p startet nicht mit "SyntaxError""
OpenSUSE Leap 15.2, otr-verwaltung3p gerade eben frisch installiert mit dem Skript. Ausgabe des Skriptes (nachdem ich es ein zweites Mal habe laufen lassen):

    abc@Linux:~/Downloads> ./otrv3p-install-opensuse_leap-dev.sh
    ./otrv3p-install-opensuse_leap-dev.sh: Zeile 155: [: Zu viele Argumente.

    Die Installation wird in zwei Schritten durchgeführt werden:

        1. Installation der Abhä

[2021-01-04 18:13] gCurse commented on #109
Please comment out line 798 in otrverwaltung3p/gui/CutinterfaceDialog.py and report if it works.

Can you give any hints about `./otrv3p-install-opensuse_leap-dev.sh: Zeile 155: [: Zu viele Argumente.`?

Thanks.

[2021-01-04 21:04] anonvoy commented on #109
Unfortunately not, while that error message is gone, there are now others in its place:

    abc@Linux:~> /home/abc/otr-verwaltung3p/bin/otrverwaltung3p
    [1] 8364
    abc@Linux:~> otr-verwaltung3p, version 1.0.0b8.post4
    E:config:Config:load:141 Config file is not available. ([Errno 2] Datei oder Verzeichnis nicht gefunden: '/home/abc/otr-verwaltung3p/bin/../conf') Using default configuratio

[2021-01-05 05:35] gCurse commented on #109
Please delete the folder `/home/abc/otr-verwaltung3p`.
Then open a terminal in in `/home/abc` and clone otrv manually:

`git clone --branch development --single-branch --shallow-since=2020-02-14 https://github.com/EinApfelBaum/otr-verwaltung3p.git`

Make sure the "Packman" repository is activated. See [Packman (opensuse wiki)](https://en.opensuse.org/Additional_package_repositories#Packman)

Start

[2021-01-05 10:50] anonvoy commented on #109
OK, habe ich gemacht (Packman ist aktiviert), und das Programm startet jetzt. Die Einstellungen lassen sich alle durchführen, alle benötigten Programme sind da und mit grünem Haken bestätigt. Dekodieren funktioniert auch.

Wenn es aber ans Schneiden mit Cutlist geht, friert das Programm ein. Die KDE-Taskliste führt es als angehalten, und ich kann es nur über die Taskliste beenden. Es gibt keine Me

[2021-01-05 15:53] gCurse commented on #109
Ich habe otrv mit dem jetzt korrigierten Skript `otrv3p-install-opensuse_leap-dev.sh` auf meiner leap 15.1 VM installiert und das manuelle Schneiden mit dem Cutinterface, sowie "Schneiden - Beste Cutlist" funktioniert hier. Warum es unter leap 15.2 nicht laufen sollte weiß ich nicht.

Starte otrv bitte mit dem Parameter `-d`. Sind Fehlermeldungen von z. B. ffmpeg und/oder mkvmerge zu sehen?

Wie w

[2021-01-05 16:41] anonvoy commented on #109
OK, ich habe alles noch einmal probiert und otrv3p erst einmal nicht aus der Konsole gestartet, sondern mit einem Desktop-Icon. Damit funktionierte jetzt alles, mit jeder der Methoden "Schneiden - Nachfragen / Beste Cutlist / Cutlist wählen / Manuell". Auch beim manuellen Schneiden wird das Cutinterface angezeigt, selbst geschnitten habe ich dann nicht mehr, aber eine vorhandene Cutlist ließ sich

[2021-01-16 14:01] timsummerer opened #110 "otr-verwaltung3p does not launch on WSL2 Ubuntu 20.04"
Trying to launch otr-verwaltung3p on Ubuntu 20.04 (fully updated) under WSL2 yields the following error.

[code]

Tutorial used to set up WSL2 for GUI apps: [https://techcommunity.microsoft.com/t5/windows-dev-appconsult/running-wsl-gui-apps-on-windows-10/ba-p/1493242](this)

glxgears runs fine when disabling native openGL at launch of XLaunch.
gedit also works as expected.

otr-verwaltung3p was in

[2021-01-19 15:52] gCurse commented on #110
That is tricky.
Please start otrv with the parameter `-v` and post the terminal output.

[2021-01-19 15:54] #109 closed, assigned to nobody

[2021-01-19 15:55] #107 closed, assigned to nobody

[2021-01-19 16:02] timsummerer commented on #110
The output of `otrverwaltung3p -v` from the WSL terminal is

[code]

I also noticed the program works as expected if I run `startxfce4` and launch it from there. Probably the environment is not set up to the needs of the application.
Running `otrverwaltung3p -v` from `gnome-terminal` launched from xfce yields

[code]

[2021-03-29 09:14] robertschulze opened #111 "AttributeError in actions/cut.py"
Leider funktioniert bei mir seit neuestem (ws. ein Update eines Python-Pakets) das Schneiden nicht mehr:

[code]
Leider sagt mir der Fehler garnichts.

[2021-04-05 18:48] DrVanScott commented on #111
I experienced the same issue after first trying to use the cloned repository and installing via "installscript". After I installed the provided deb from https://www.otrforum.com/showthread.php?74447-OTRVerwaltung3Plus-eine-Portierung-von-OTRVerwaltung-hinzu-Python3-und-Gtk3&p=420125&viewfull=1#post420125 the issue dissapeared

[2021-04-06 12:49] DrVanScott opened #112 "installscript fails to log"
Hi,

the deb install script fails to log at least on mint, as root is not permitted to append to a tmp file of another user:

    $ id -u | tee -a /tmp/test.log
    1000
    $ sudo bash -c "id -u | tee -a /tmp/test.log"
    tee: /tmp/test.log: Permission denied
    0

[2021-04-13 20:42] gCurse commented on #112
Did you use [otrv3p-install-deb-dev.sh](https://raw.githubusercontent.com/gCurse/support/master/otrv3p_installation_scripts/otrv3p-install-deb-dev.sh)? This is the newest version. Anything based on the master branch won't work.

[2021-04-13 21:18] gCurse commented on #111
[Newest deb releases](https://github.com/EinApfelBaum/otr-verwaltung3p/releases). The topmost is the newest.

[Installation scripts](https://github.com/gCurse/support/tree/master/otrv3p_installation_scripts). Only use files with "dev" in the filename for now.

@DrVanScott : Please do not link to otrforum.com for downloads. Use direct links, please.

[2021-04-13 21:41] gCurse commented on #110
Sorry, WSL is not supported. Still, I made a fix that may be published.

[2021-04-13 21:41] #110 closed, assigned to gCurse

[2021-04-15 19:43] major-mayer opened #113 "In some cases "Result of __simulate_smart_mkvmerge is None" occurs when batch-cutting but not when using the cutinterface"
I've downloaded a bunch of .otrkey files and decoding went smooth.
But the cutting process always gets cancelled after a few seconds with this error message.
[code]

Here is the file that i wanted to cut (but the same error occurs for all other files): Ant_Man_and_the_Wasp_21.04.03_01-35_sf2_105_TVOON_DE.mpg.HD.avi

And here is the debug log:
[code]

[2021-04-15 23:20] DrVanScott commented on #112
Yes i use the script you mentioned.
This seems to be related to the "fs.protected_regular" kernel parameter. On linux mint this is set to "2". The scenario described in my initial post can be reproduced after performing

    sudo sysctl fs.protected_regular=2

[2021-04-22 21:45] robertschulze commented on #111
Indeed, using the newest release it is working. Thanks!

[2021-04-22 21:45] #111 closed, assigned to nobody

[2021-04-29 03:28] gCurse commented on #112
I tried the script in an ubuntu 20.04 VM where fs.protected_regular is set to 2. It logs just fine.

In line 73 `chown root /tmp/otrv3p-install.log && chmod 666 /tmp/otrv3p-install.log` root takes ownership of the log-file and grants write permission to users.

[2021-04-29 20:55] DrVanScott commented on #112
Your are right. Now i cannot reproduce the problem anymore. Sorry for this waste of time.

To at least provide a little bit, after a fresh clone of your support repository, some of the shell scripts are missing the executable permission, including otrv3p-install-deb-dev.sh

Thanks for your patience :-)

[2021-04-29 20:55] #112 closed, assigned to nobody

[2021-05-16 18:23] gCurse commented on #113
I tried cutting `Ant_Man_and_the_Wasp_21.04.03_01-35_sf2_105_TVOON_DE.mpg.HD.avi` and it worked flawlessly.

If this is still an issue for you please reopen this and deliver more information (distro used, how did you install otrv and whatever else could be meaningful).

Thank you.

[2021-05-17 17:48] major-mayer commented on #113
Hmm I don't really want to bother you with this anymore.
It seems that just some of my downloads cant be cut anymore, Ant Man and the Wasp still doesn't work, but others work again.
So it's not really reproducible and can stay closed i guess.

[2021-05-20 13:14] major-mayer commented on #113
The error persists for multiple movies for me, but I found a workaround:
If I open the manual cutting window I can still use the key-frames from the cutlist and it will cut without any cutsmartmkvmerge errors.
I don't know why those errors occur in the first place, but by using the workaround, it's just a few more clicks for me.

I am on Manjaro Linux and using the version from the AUR btw.

[2021-05-29 16:18] gCurse commented on #113
I reopen this issue because batch-cutting may not use the same functions/routines/whatever as the cutinterface. I may look into this :)

Summary:
Fehler: Cutlist oder zu schneidende Datei passen nicht zusammen oder sind fehlerhaft.
cutsmartmkvmerge:230:Result of __simulate_smart_mkvmerge is None

D:cut:CutSmartMkvmerge:show_indexing_progress:610 Outer while break
W:cutsmartmkvmerge:CutSmartMkvmerg

[2021-05-29 18:53] major-mayer commented on #113
Ah okay, I also noticed this error happen regularly with the batch mode but never, when cutting the movies one by one.
It would be very nice if you could find a fix for this issue :)

[2021-05-31 05:21] gCurse commented on #113
@major-mayer Please install [otr-verwaltung3p-dev-git](https://aur.archlinux.org/packages/otr-verwaltung3p-dev-git/) and see if it works for you.

I could not reproduce your error with 1.0.0b8.post4 in a Manjaro VM, but I found a different one which is now fixed.

[2021-05-31 21:06] major-mayer commented on #113
Hello @gCurse
I've tried with 3 otrkeys that i had laying around and with the new version the batch cutting worked great :slightly_smiling_face:
The smart_mkvmerge error did not appear again and the cutting itself, which got often stuck or extremely slow for me when using the batch cutting feature, was also really quick.
I hope that this stays the same for other movies. I will close this issue for

[2021-05-31 21:06] #113 closed, assigned to nobody

[2021-08-03 19:16] TerpenTH opened #114 "Installation, Befehl nicht gefunden"
Hallo Entwickler,
**erstmal danke für dieses tolle Programm** (Nutze es auch unter Ubuntu).

Bei der installation mit dem otrv3p-install-opensuse_leap.sh script, traten 2 fehler auf!
[code]

Packman ist aktiviert.
Meine Version OpenSuse Leap 15.3

[2021-08-10 17:40] gCurse commented on #114
@TerpenTH Bitte poste die Terminal-Ausgabe, so dass ich die Fehlermeldungen sehen kann (persönliche Daten unkenntlich machen).

Danke.

[2021-08-21 15:30] Felerteufel opened #115 "Aufnahmen der Xplus Sender (z. B. 6plus) können nicht geschnitten werden (Fehler: Kodiermethode unbekannt; neue Variante des HD2 Formates)"
Seit kurzem kann ich FullHD-Filme von Sendern "Xplus" nicht mehr schneiden. Beispiele:
Starsky_Hutch_21.08.16_22-05_4plus_120_TVOON_DE.mpg.HD.avi
Godzilla_21.08.18_20-15_6plus_170_TVOON_DE.mpg.HD.avi
Die Schnittliste wird geladen, danach erscheint die Fehlermeldung:
"Fehler: Die Datei kann nicht geschnitten werden, da die Kodiermethode unbekannt ist."

Ich verwende Ubuntu 20.04.1 mit Kernel: 5.11.

[2021-08-25 19:48] gCurse commented on #115
Godzilla ist dem neuen HD sehr ähnlich, wurde aber mit dem Format profile: Main@L4 codiert. Das sollte Main@L3.2 sein.
Ich habe die Datei einmal mit den encoding Einstellugen für das neue HD-Format geschnitten: Schnitte sind nicht da wo sie sein sollten, Ton asyncron. Von meiner Seite ein "Won't fix".

Bad Ass 2 hat das alte HD-Format.

Abraham Lincoln: Vielleicht auch das alte HD-Format?

[2021-08-26 06:48] Felerteufel commented on #115
Danke für Deine Zeit. Ich möchte - ganz vorsichtig -  "_intervenieren_", bzw. folgendes zu Bedenken geben:
Spätestens seit dem 16.08.21 kann ich keine einzige Full-HD-Aufnahme von einem "x"plus-Sender mehr schneiden, daher OTR scheint etwas permanent verändert zu haben. Anbei meine kleine Liste von Filmen, zu denen es auch Schnittlisten gibt:

- Abraham_Lincoln__Vampirjaeger_21.08.17_20-15_4plus_1

[2021-08-26 17:02] gCurse commented on #115
Ich ging von einem Einzelfall aus, da sonst niemand davon berichtet hat.

Ich öffne wieder. Versprechen kann ich aber nichts.

[2021-08-27 06:56] Felerteufel commented on #115
Das hatte mich in der Tat auch überrascht; auch bisher keine Reaktion im OTR-Forum. Es betrifft ja auch (bisher) nur die Full-HD-Filme.

Danke, mehr kann ich nicht erwarten - natürlich hoffe ich trotzdem auf Erfolg ... :-)

[2021-08-29 22:37] Cdr-McLANE commented on #115
Hallo,

bei mir das von Dir oben angedeutete Problem bei allen im von otrverwaltung3p als HD2 erkannten Format. Das findet bei Aufzeichnungen ORF und arte (evtl. noch weiteren) Verwendung. Die Schnitte waren perfekt, als ich noch Debian Buster benutzte.  Die Probleme traten mit dem Upgrade auf Bullseye auf.

otr-verwaltung3p, version 1.0.0b8.post4

Eine vollständige Ausgabe der Befehle:
- otrverwa

[2021-08-30 07:18] Felerteufel commented on #115
@Cdr-McLANE :
Ich rede speziell über **FHD**-Formate von Xplus-Sendern (Schweiz). Mit normalen HQ oder HD-Formaten (Arte oder ORF) habe ich keine Probleme! Bei den FHD-Aufnahmen von Sendungen muss sich etwas ab dem Stichtag (ca. 16.08.21) geändert haben. Ältere kann ich nach wie vor problemlos schneiden, jüngerer jedoch nicht.

[2021-08-31 06:35] Felerteufel commented on #115
Es wird vermutlich kein besonderer Erkenntnisgewinn sein, habe aber trotzdem mal die Dateiinfos auf der OTR-Seite vergleichen.

Eine alte Aufnahme, die problemlos geschnitten werden kann:
Repo_Men_21.08.02_22-30_4plus_135_TVOON_DE.mpg.HD.avi
[code]

Eine neue Aufnahme mit Schneidproblem:
Shazam_21.08.28_20-15_3plus_160_TVOON_DE.mpg.HD.avi
[code]

Das Profil wurde von "High" auf "Main" geändert (sp

[2021-09-04 17:34] Felerteufel commented on #115
Auf dem Sender "servustv" lief der Film "Ein_ungezaehmtes_Leben" einmal vor dem Stichtag und einmal nach dem Stichtag in Full-HD. Beide Aufnahmen sind im "High"-Profil und können geschnitten werden. Bei "servustv" wurde offenstchtlich noch nicht auf das neue Aufnahmeformat umgestellt.

(Ein_ungezaehmtes_Leben_21.01.14_20-15_servustv_115_TVOON_DE.mpg.HD.avi)
(Ein_ungezaehmtes_Leben_21.09.02_22-30_s

[2021-10-06 08:10] Felerteufel commented on #115
Hallo @gCurse ,
ich will auf keinen Fall nerven - aber kannst Du evtl. einen Ausblick darauf geben, ob und wann es wie weitergehen könnte?
(Bei mir sammeln sich schon Filme ... ;-) ) Bin ich wirklich der einzige, der FHD-Aufnahmen von Xplus Sendern unter Linux schneiden möchte? Kann es kaum glauben ...

[2021-10-08 19:41] #114 closed, assigned to nobody

[2021-10-12 16:16] TerpenTH commented on #115
Hallo @Felerteufel,
du bist nicht der einzigste! Ich kann auch (ab heute) einige Aufnahmen nicht schneiden, gleiches Problem!
zum Beispiel:
- Captain Marvel HD/AC3 ohne Probleme
- Terminator Dark Fate HD/AC3 ohne Probleme
- Rambo Last Blood HD/AC3 geht nicht (oben genannter Fehler)
- Men in Black HD/AC3 geht nicht
Ein altbekanntes Problem besteht leider immer noch, welches die Cutlist-Bewertung fa

[2021-10-19 11:44] major-mayer commented on #115
Ich schließe mich dem Thread hier an.
Hab gerade versucht den Film "Matrix_21.10.12_20-15_4plus_170_TVOON_DE.mpg.HD" mit OTRVerwaltung3p zu schneiden, kriege aber die Fehlermeldung, dass das Kodierungsformat unbekannt ist.
Also alleine seid ihr defintiv nicht ;)

Hier ein paar Metainformationen zu dem Film. Auch bei mir ist der Film im mit dem Main Profil enkodiert:
![grafik](https://user-images.g

[2021-10-30 18:40] major-mayer opened #116 "Cut leads to audio-video sync problems"
Hi,
I noticed this a few times already and thought that maybe it would be time for an Github report.
When i try to cut for example "Bad_Boys_II_20.12.27_22-25_sf2_145_TVOON_DE.mpg.HD.avi" using the cutlist from "Jojo17" or "McLANE" it leads to synchronization problems between the audio and the video track.
There video is lagging behind the audio for a few seconds, which makes it basically unwatcha

[2021-11-02 15:09] Felerteufel commented on #116
Which OS?
Which Version (1.0.0b8.post4 ?)?

[2021-11-02 16:14] major-mayer commented on #116
Ah sorry my fault.
OS is Manjaro 21.1.6
Version is `1.0.0b8.post4.r1.g3dbf46b`

[2021-11-09 08:53] Felerteufel commented on #115
Hallo @gCurse , ich hoffe es geht Dir gut? Es ist so ruhig hier, da macht man sich gleich Sorgen ...

[2021-11-19 10:13] gCurse commented on #116
I experienced this too while testing HD but I don't know why this happens.

You have to cut those files with VirtualDub (wine).

Install **otr-verwaltung3p-vdub** (AUR).
otrv-settings: _Bearbeiten - Einstellungen - Schneiden_: Set **'HD neu 2020'** to **'intern-vdub'**

See also #115

[2021-11-19 10:13] #116 closed, assigned to nobody

[2021-11-19 11:32] gCurse commented on #115
@Felerteufel Alles gut. Danke für die Nachfrage.

Ich habe jetzt die Erkennung für dieses Format hinzugefügt.
Schneiden kann man dies nur mit VirtualDub (wine)

@major-mayer Bitte installiere die neueste Version und teste sie.

Installiere
[otr-verwaltung3p-vdub AUR](https://aur.archlinux.org/packages/otr-verwaltung3p-vdub/) (Arch/Manjaro etc) oder
[otr-verwaltung3p-vdub deb](https://github.com/gC

[2021-11-19 16:03] Felerteufel commented on #115
Beim Installationsversuch von _otr-verwaltung3p-vdub deb_ unter Ubuntu 20.04, gab es folgende Fehlermeldung:
(Ich hatte vorher noch ein: `sudo dpkg --add-architecture i386` ausgeführt.)

[code]

... oder ist gerade nur ein Server down?

[2021-11-19 16:09] binsky08 commented on #115
@Felerteufel sieht aus, als gibt es die angefragten Pakete nur noch in der Version ....~20.04.4_... und nicht mehr in ....~20.04.3_...

z.B. das hier
![image](https://user-images.githubusercontent.com/30630233/142654223-19ef6227-cac3-4589-b30a-1a714ed3b1c2.png)

[2021-11-19 16:46] Felerteufel commented on #115
@binsky08 - Danke für den Hinweis! Bin sogar nur auf der 20.04.02 ... - das werde ich wohl gleich mal ändern müssen!

EDIT:
Aaah - Du meintest nicht die Point-Release selbst, sondern das Paket - denn eine Point-Release ".04" ist ja so noch nicht verfügbar ...

EDIT2:
Nach manueller Installation von "`libosmesa6`", ist die `otr-verwaltung3p-vdub deb` nun fehlerfrei durchgelaufen.

(OT Wie bekommt d

[2021-11-20 15:52] Felerteufel commented on #115
@gCurse  - ein kleines Feedback:
Ich glaube in Deinem Installationshinweispost hat sich ein kleiner Fehler eingeschlichen. Wird das "vdub.deb" über die Paketverwaltung installiert, liegt es natürlich in den Systemverzeichnissen. Installiert man die "post5.tar.gz" manuell und startet von dort, wird "vdub" dann natürlich nicht gefunden. Nach kopieren von "/usr/share/otrverwaltung3p/tools/intern-Virt

[2021-11-21 12:14] gCurse commented on #115
@Felerteufel: Danke für den Hinweis.
Ich habe das als Edit oben eingefügt.

[2021-11-28 21:02] major-mayer commented on #116
I just installed the vdub package from the AUR and tried this method.
It works indeed, but feels a bit hacky.

Could you maybe add this information to the Wiki? This could prevent some unnecessary bug reports.

[2021-11-29 15:56] Felerteufel commented on #115
Habe jetzt ca. 100 FHD-Filme geschniten. Funktioniert soweit alles gut - @gCurse , Du kannst nun die Pakete fertig machen ... ;-)
(Wäre es nicht sinnvoll, das vdub-Paket gleich mit zu integrieren?)

[2021-11-29 19:06] major-mayer commented on #115
Bei mir läuft auch alles wunderbar, auch wenn der ganze Vorgang schon ein wenig hacky wirkt mit den aufploppenden Fenstern etc.

[2021-11-30 07:43] Felerteufel commented on #115
Das ist vermutlich "wine" geschuldet bzw. die Nutzung eines "exe-"Programms in einer nicht nativen Umgebung. Solange die Schnittergebnisse stimmen, ist mir das egal ... (wenn auch in der Tat etwas unschön).

Mir sind noch 2 Dinge aufgefallen:
- Bei manchen HD-Filmen (nicht FHD) mit dem neuen HD-Format war das Ergebnis eine *.avi- und keine *mkv-Datei. Habe leider gerade keine Beispieldatei mehr vo

[2021-11-30 15:16] ghost opened #117 "SyntaxWarning: "is" with a literal. Did you mean "=="?"
Python seit v3.8+ warnt an mehreren Stellen in otrverwaltung/config.py, dass "is" durch "==" ersetzt werden sollte.

Hier ein Patch:
[code]

[2021-11-30 20:25] ghost commented on #117
Fixed in development branch

[2021-11-30 20:25] #117 closed, assigned to nobody

[2021-12-18 20:48] Cdr-McLANE commented on #115
Hallo gCurse,

nach dem Schneiden von drei, vier HD – Filmen scheinen die Probleme behoben zu sein.

Vielen Dank dafür.

Allerdings muss ich zum framegenauen Schneiden bei Marker A plus 2 Frames und bei Marker B minus 2 Frames einstellen. Könnte das bitte noch behoben werden?

Ein .deb Paket wäre auch toll!

Besten Dank im Voraus!

McLANE

[2022-02-26 08:28] kirbylink commented on #115
Erst mal ein Danke schön für den Support.

Heute wollte ich den Film
`Der_Dummschwaetzer_22.02.05_20-15_4plus_110_TVOON_DE.mpg.HD.avi`
schneiden und hab die Version `1.0.0b8.post5` vorher erfolgreich nutzen können. Jedoch zeigt mir otrverwaltung bei dem Film an, dass die Kodiermethode hier unbekannt ist. Kann es sein, dass die Erkennung des Formates noch mal angepasst werden muss?

[2022-03-11 23:46] henningar opened #118 "Abhängigkeiten überprüfen"
Hi, wie im Forum geschrieben, funktioniert mein Cutinterface seit Update auf Debian 11 bullseye nicht mehr. Könnte es sein, dass sich die Abhängigkeiten auf neue Pakete verteilen?

[2022-03-17 09:46] gCurse commented on #118
Ich habe in einer Debian11 VM die Version post4 installiert und das Cutinterface funktioniert.

[code]

[2022-03-17 10:21] gCurse commented on #115
@kirbylink Ich befürchte, dass es immer wieder neue Kodiermethoden geben wird. Die beste Lösung wäre wohl, alle Dateien die .HD. im Namen tragen und eine unbekannte Dekodierung aufweisen einfach blind mit vdub zu schneiden.
Ob oder wann ich so etwas implementiere kann ich nicht sagen.

[2022-06-02 15:20] TerpenTH opened #119 "Error: No Connection to server!"
Hallo gCurse,

ich habe keine Verbindung zum Server.
Dekoder Returncode:255

Ich benutze den internen-easydecoder!

Version: 1.0.0b8.post5

Danke für deine Arbeit und Weiterentwicklung.

[2022-08-10 18:11] joebeam commented on #119
Hallo TerpenTH,
wenn ich unter Einstellungen/OTR-Einstellungen meine Zugangsdaten prüfen will, erscheint die Meldung: "Keine Internetverbindung!". Meinst Du das?
Das Dekodieren von Filmen geht trotzdem, also stimmt die Fehlermeldung nicht.
Die Einstellung und díe Programmversion habe ich auch, installiert auf Linux Mint 21.

[2022-09-12 16:59] #118 closed, assigned to nobody

[2022-09-15 06:58] gCurse opened #120 "The branch "development" should be the default branch"
Settings - Branches - Default branch
Danke

[2022-09-15 10:06] EinApfelBaum commented on #120
Done.

[2022-09-15 10:06] #120 closed, assigned to EinApfelBaum

[2022-09-15 11:33] gCurse commented on #70
Done in b67e5d2

[2022-09-15 11:33] #70 closed

[2022-09-15 11:38] gCurse commented on #85
Done in 4325a6c

[2022-09-15 11:38] #85 closed, assigned to nobody

[2022-09-15 11:39] #99 closed, assigned to nobody

[2022-09-15 11:40] gCurse commented on #108
Done in eabc7a3

[2022-09-15 11:40] #108 closed, assigned to gCurse